body {
  margin: 0;
  background-color: #262626;
  background-image: url("../assets/grid.png");
}
body .container {
  max-width: 1280px;
  margin: auto;
  padding: 40px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-evenly;
  -moz-justify-content: space-evenly;
  -ms-justify-content: space-evenly;
  justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
body .container-items {
  background-image: url("../assets/background_blanc.png");
  width: 500px;
  height: 500px;
  margin: 40px;
  border-radius: 5%;
}
body .container-items .content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-evenly;
  -moz-justify-content: space-evenly;
  -ms-justify-content: space-evenly;
  justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
body .container-items .content h1 {
  color: #262626;
  font-family: "Overpass Mono", monospace;
  font-size: 2em;
}
body .container-items .infiniteText .test {
  width: 98%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
body .container-items .infiniteText .test div {
  color: transparent;
  -webkit-text-stroke: 2px #030EB5;
  text-transform: uppercase;
  font-size: 10em;
  font-family: "Kanit", sans-serif;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
  animation-delay: -30s;
}
body .container-items .infiniteText .test div:nth-child(2) {
  animation: marquee2 30s linear infinite;
  animation-delay: -15s;
}
body .container-items .navItem nav {
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 5;
}
body .container-items .navItem nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
}
body .container-items .navItem nav ul li {
  list-style: none;
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #030EB5;
  color: transparent;
  transition: 0.3s ease-in-out;
}
body .container-items .navItem nav ul li:hover {
  color: #030EB5;
  -webkit-text-stroke: 1px #FFFFFF;
}
body .container-items .navItem .nav-pic {
  width: 300px;
  height: auto;
  transition-duration: 200ms;
  display: block;
  position: absolute;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
body .container-items .navItem .nav-pic img {
  width: 100%;
  height: auto;
}
body .container-items .navItem .hidden {
  display: none;
}
body .container-items .threeDText p {
  position: relative;
  color: #DEDEDE;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  outline: none;
  text-align: center;
  user-select: none;
  -webkit-transform: rotate(-10deg) skewX(40deg);
  -moz-transform: rotate(-10deg) skewX(40deg);
  -ms-transform: rotate(-10deg) skewX(40deg);
  transform: rotate(-10deg) skewX(40deg);
  text-shadow: -1px 1px #262626, -2px 2px #262626, -3px 3px #262626, -4px 4px #262626, -5px 5px #262626, -6px 6px #262626, -7px 7px #262626, -8px 8px #262626, -9px 9px #262626, -10px 10px #262626, -15px 15px rgba(38, 38, 38, 0.2);
}
body .container .cursorContent:hover {
  cursor: none;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}
body .cursor {
  width: 15px;
  height: 15px;
  background-color: #030EB5;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  pointer-events: none;
  display: none;
}
body .cursor::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  border: 8px solid rgba(3, 14, 181, 0.5);
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  animation: cursorAnim 2s infinite alternate;
}

/*# sourceMappingURL=styles.css.map */
