@import "../styles/variables.scss";
@import "../styles/media.scss";
@import "../styles/mixins.scss";


body{
    margin: 0;
    background-color: $colGray;
    background-image: url('../assets/grid.png');

    .container{
        max-width: 1280px;
        margin: auto;
        padding: 40px 0;
        @include flexbox();
        @include flex-flow(row wrap);
        @include justify-content(space-evenly);
        @include align-items(center);

        &-items{
            background-image: url('../assets/background_blanc.png');
            width: 500px;
            height: 500px;
            margin: 40px;
            border-radius: 5%;
            

            .content{
                @include flexbox();
                @include flex-flow(column nowrap);
                @include justify-content(space-evenly);
                @include align-items(center);
                height: 100%;

                h1{
                    color: $colGray;
                    font-family: $Overpass;
                    font-size: 2em;
                }
            }
            .infiniteText{
                .test{
                    width: 98%;
                    @include flexbox();
                    overflow: hidden;
                    -webkit-transform: rotate(-5deg);
                    -moz-transform: rotate(-5deg);
                    -ms-transform: rotate(-5deg);
                    transform: rotate(-5deg);
                    
                    div{
                        color: transparent;
                        -webkit-text-stroke: 2px $colBlue;
                        text-transform: uppercase;
                        font-size: 10em;
                        font-family: $Kanit;
                        white-space: nowrap;
                        animation: marquee 30s linear infinite;
                        animation-delay: -30s;
                    }
                    div:nth-child(2){
                        animation: marquee2 30s linear infinite;
                        animation-delay: -15s;
                    }
                }
            }
            .navItem{
                nav{
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    z-index: 5;

                    ul{
                        padding: 0;
                        margin: 0;
                        width: 100%;

                        li{
                            list-style: none;
                            padding: 30px;
                            width: 100%;
                            box-sizing: border-box;
                            text-align: center;
                            font-family: $Kanit;
                            font-size: 1.5em;
                            text-transform: uppercase;
                            -webkit-text-stroke: 1px $colBlue;
                            color: transparent;
                            transition: .3s ease-in-out;

                            &:hover{
                                color: $colBlue;
                                -webkit-text-stroke: 1px $colWhite;
                            }
                        }
                    }
                }
                .nav-pic{
                    width: 300px;
                    height: auto;
                    transition-duration: 200ms;
                    display: block;
                    position: absolute;
                    z-index: 0;
                    transition: .3s ease-in-out;

                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                .hidden{
                    display: none;
                }
            }
            .threeDText{
                p{
                    position: relative;
                    color: $colLightG;
                    font-family: $Kanit;
                    text-transform: uppercase;
                    font-size: 2em;
                    outline: none;
                    text-align: center;
                    user-select: none;
                    -webkit-transform: rotate(-10deg) skewX(40deg);
                    -moz-transform: rotate(-10deg) skewX(40deg);
                    -ms-transform: rotate(-10deg) skewX(40deg);
                    transform: rotate(-10deg) skewX(40deg);
                    text-shadow:-1px 1px $colGray,
                                -2px 2px $colGray,
                                -3px 3px $colGray,
                                -4px 4px $colGray,
                                -5px 5px $colGray,
                                -6px 6px $colGray,
                                -7px 7px $colGray,
                                -8px 8px $colGray,
                                -9px 9px $colGray,
                                -10px 10px $colGray,
                                -15px 15px rgba($colGray,.2);
                }
            }
        }
        .cursorContent{
            &:hover{
                cursor: none;
            }
        }
    }
    @keyframes marquee {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
        }
    }
    @keyframes marquee2 {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-200%);
        }
    }
    @keyframes cursorAnim {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(.7);
        }
    }
    .cursor {
        width: 15px;
        height: 15px;
        background-color: $colBlue;
        border-radius: 50%;
        position: absolute;
        transition-duration: 150ms;
        transition-timing-function: ease-out;
        pointer-events: none;
        display: none;

        &::after{
            content: "";
            width: 15px;
            height: 15px;
            position: absolute;
            border: 8px solid rgba($colBlue,0.5);
            border-radius: 50%;
            opacity: .5;
            top: -8px;
            left: -8px;
            animation: cursorAnim 2s infinite alternate;
        }
    }
}