$colBlue: #030EB5;
$colLightG: #DEDEDE;
$colGray: #262626;
$colDark: #121212;
$colWhite: #FFFFFF;
$colLightW: #EEEEEE;

$Roboto: 'Roboto', sans-serif;
$Overpass: 'Overpass Mono', monospace;
$Kanit: 'Kanit', sans-serif;